# **1. Import Library**

In [ ]:
import pandas as pd
import re

# **2. Menghubungkan Google Colab dengan Google Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **3. Menghubungkan kedataset kotor**

In [ ]:
file_path = '/content/drive/MyDrive/DataMining/Dataset_kotor/messy_data_ramen.csv'

# baca CSV dengan delimiter ;
df = pd.read_csv(file_path, delimiter=";")

print(df.head(20))

    Review #           Brand  \
0     2580.0       New Touch
1     2579.0        Just Way
2     2578.0          Nissin
3     2577.0         Wei Lih
4     2576.0  Ching's Secret
5     2575.0   Samyang Foods
6     2574.0         Acecook
7     2573.0     Ikeda Shoku
8     2572.0      Ripe'n'Dry
9     2571.0            KOKA
10    2570.0     Tao Kae Noi
11    2569.0        Yamachan
12    2568.0        Nongshim
13    2567.0          Nissin
14    2566.0          Nissin
15    2565.0            KOKA
16    2564.0            TRDP
17    2563.0        Yamachan
18    2562.0        Binh Tay
19    2561.0           Paldo

                                              Variety Style      Country  \
0                           T's Restaurant Tantanmen    Cup        Japan
1   Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack       Taiwan
2                       Cup Noodles Chicken Vegetable   Cup          USA
3                       GGE Ramen Snack Tomato Flavor  Pack       Taiwan
4                                     Singapore Curry  Pack        India
5                              Kimchi song Song Ramen  Pack  South Korea
6                 Spice Deli Tantan Men With Cilantro   Cup        Japan
7                               Nabeyaki Kitsune Udon  Tray        Japan
8                            Hokkaido Soy Sauce Ramen  Pack        Japan
9               The Original Spicy Stir-Fried Noodles  Pack    Singapore
10                        Creamy tom Yum Kung Flavour  Pack     Thailand
11                            Yokohama Tonkotsu Shoyu  Pack          USA
12                 Mr. Bibim Stir-Fried Kimchi Flavor  Pack  South Korea
13                       Deka Buto Kimchi Pork Flavor  Bowl        Japan
14  Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...  Pack    Hong Kong
15                   Mushroom Flavour Instant Noodles   Cup    Singapore
16                               Mario Masala Noodles  Pack        India
17                                  Tokyo Shoyu Ramen  Pack          USA
18                                         Mi Hai Cua  Pack      Vietnam
19                                    Premium Gomtang  Pack  South Korea

   Stars Top Ten
0   3.75     NaN
1      1     NaN
2   2.25     NaN
3   2.75     NaN
4   3.75     NaN
5   4.75     NaN
6      4     NaN
7   3.75     NaN
8   0.25     NaN
9    2.5     NaN
10     5     NaN
11     5     NaN
12  4.25     NaN
13   4.5     NaN
14     5     NaN
15   3.5     NaN
16  3.75     NaN
17     5     NaN
18     4     NaN
19     4     NaN

# **4. Menampilkan dataset kotor**

In [ ]:
print(df.head(10)) #menampilkan 10 data teratas

   Review #           Brand  \
0    2580.0       New Touch
1    2579.0        Just Way
2    2578.0          Nissin
3    2577.0         Wei Lih
4    2576.0  Ching's Secret
5    2575.0   Samyang Foods
6    2574.0         Acecook
7    2573.0     Ikeda Shoku
8    2572.0      Ripe'n'Dry
9    2571.0            KOKA

                                             Variety Style      Country Stars  \
0                          T's Restaurant Tantanmen    Cup        Japan  3.75
1  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack       Taiwan     1
2                      Cup Noodles Chicken Vegetable   Cup          USA  2.25
3                      GGE Ramen Snack Tomato Flavor  Pack       Taiwan  2.75
4                                    Singapore Curry  Pack        India  3.75
5                             Kimchi song Song Ramen  Pack  South Korea  4.75
6                Spice Deli Tantan Men With Cilantro   Cup        Japan     4
7                              Nabeyaki Kitsune Udon  Tray        Japan  3.75
8                           Hokkaido Soy Sauce Ramen  Pack        Japan  0.25
9              The Original Spicy Stir-Fried Noodles  Pack    Singapore   2.5

  Top Ten
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN

# **5. Menampilkan Jumlah Data, Kolom, dan Tipe Data**

In [ ]:
print(df.info())

print("\nTipe Data:")
column_types = df.dtypes
print(column_types)

print("\ 30 Data Teratas:")
print(df.head(30))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1970 entries, 0 to 1969
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  1966 non-null   float64
 1   Brand     1966 non-null   object
 2   Variety   1966 non-null   object
 3   Style     1965 non-null   object
 4   Country   1966 non-null   object
 5   Stars     1966 non-null   object
 6   Top Ten   30 non-null     object
dtypes: float64(1), object(6)
memory usage: 107.9+ KB
None

Tipe Data:
Review #    float64
Brand        object
Variety      object
Style        object
Country      object
Stars        object
Top Ten      object
dtype: object
\ 30 Data Teratas:
    Review #             Brand  \
0     2580.0         New Touch
1     2579.0          Just Way
2     2578.0            Nissin
3     2577.0           Wei Lih
4     2576.0    Ching's Secret
5     2575.0     Samyang Foods
6     2574.0           Acecook
7     2573.0       Ikeda Shoku
8     2572.0        Ripe'n'Dry
9     2571.0              KOKA
10    2570.0       Tao Kae Noi
11    2569.0          Yamachan
12    2568.0          Nongshim
13    2567.0            Nissin
14    2566.0            Nissin
15    2565.0              KOKA
16    2564.0              TRDP
17    2563.0          Yamachan
18    2562.0          Binh Tay
19    2561.0             Paldo
20    2560.0            Nissin
21    2559.0  Jackpot Teriyaki
22    2558.0              KOKA
23    2557.0          Yamachan
24    2556.0    Ching's Secret
25    2555.0     Samyang Foods
26    2554.0           Yum-Mie
27    2553.0            Nissin
28    2552.0           MyKuali
29    2551.0              KOKA

                                              Variety Style      Country  \
0                           T's Restaurant Tantanmen    Cup        Japan
1   Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack       Taiwan
2                       Cup Noodles Chicken Vegetable   Cup          USA
3                       GGE Ramen Snack Tomato Flavor  Pack       Taiwan
4                                     Singapore Curry  Pack        India
5                              Kimchi song Song Ramen  Pack  South Korea
6                 Spice Deli Tantan Men With Cilantro   Cup        Japan
7                               Nabeyaki Kitsune Udon  Tray        Japan
8                            Hokkaido Soy Sauce Ramen  Pack        Japan
9               The Original Spicy Stir-Fried Noodles  Pack    Singapore
10                        Creamy tom Yum Kung Flavour  Pack     Thailand
11                            Yokohama Tonkotsu Shoyu  Pack          USA
12                 Mr. Bibim Stir-Fried Kimchi Flavor  Pack  South Korea
13                       Deka Buto Kimchi Pork Flavor  Bowl        Japan
14  Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...  Pack    Hong Kong
15                   Mushroom Flavour Instant Noodles   Cup    Singapore
16                               Mario Masala Noodles  Pack        India
17                                  Tokyo Shoyu Ramen  Pack          USA
18                                         Mi Hai Cua  Pack      Vietnam
19                                    Premium Gomtang  Pack  South Korea
20                          Cup Noodles Laksa Flavour   Cup    Hong Kong
21                                         Beef Ramen  Pack          USA
22  Creamy Soup With Crushed Noodles Hot & Sour Fi...   Cup    Singapore
23                                 Sapporo Miso Ramen  Pack          USA
24                         Hot Garlic Instant Noodles  Pack        India
25                          Song Song Kimchi Big Bowl  Bowl  South Korea
26         Instant Noodles Beef In Light Soup Flavour  Pack        Ghana
27                 Hakata Ramen Noodle White Tonkotsu  Bowl        Japan
28            Penang White Curry Rice Vermicelli Soup  Bowl     Malaysia
29           Signature Tom Yum Flavor Instant Noodles  Pack    Singapore

   Stars Top Ten
0   3.75     NaN
1      1     NaN
2   2.25     NaN
3   2.75     NaN
4   3.75     NaN
5   4.75     NaN
6      4     NaN
7   3.75     NaN
8   0.25     NaN
9    2.5     NaN
10     5     NaN
11     5     NaN
12  4.25     NaN
13   4.5     NaN
14     5     NaN
15   3.5     NaN
16  3.75     NaN
17     5     NaN
18     4     NaN
19     4     NaN
20  4.25     NaN
21     5     NaN
22     5     NaN
23  4.75     NaN
24  4.25     NaN
25  4.25     NaN
26   3.5     NaN
27  4.75     NaN
28     5     NaN
29     4     NaN

<>:7: SyntaxWarning: invalid escape sequence '\ '
<>:7: SyntaxWarning: invalid escape sequence '\ '
/tmp/ipython-input-1510201904.py:7: SyntaxWarning: invalid escape sequence '\ '
  print("\ 30 Data Teratas:")

# **6. Data Cleansing-Standarisasi Kolom Review #**

In [ ]:
print(df.columns)

df['Review'] = df['Review #'].astype(str).str.strip()

# Ubah ke numeric supaya isinya angka (kalau ada yang bukan angka jadi NaN)
df['Review'] = pd.to_numeric(df['Review'], errors='coerce')

print(df[['Review #','Review']].head(30))

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')
    Review #  Review
0     2580.0  2580.0
1     2579.0  2579.0
2     2578.0  2578.0
3     2577.0  2577.0
4     2576.0  2576.0
5     2575.0  2575.0
6     2574.0  2574.0
7     2573.0  2573.0
8     2572.0  2572.0
9     2571.0  2571.0
10    2570.0  2570.0
11    2569.0  2569.0
12    2568.0  2568.0
13    2567.0  2567.0
14    2566.0  2566.0
15    2565.0  2565.0
16    2564.0  2564.0
17    2563.0  2563.0
18    2562.0  2562.0
19    2561.0  2561.0
20    2560.0  2560.0
21    2559.0  2559.0
22    2558.0  2558.0
23    2557.0  2557.0
24    2556.0  2556.0
25    2555.0  2555.0
26    2554.0  2554.0
27    2553.0  2553.0
28    2552.0  2552.0
29    2551.0  2551.0

# **7. Data Cleansing-Standarisasi Kolom Brand**

In [ ]:
df['Brand'] = df['Brand'].astype(str).str.strip().str.title()

# Tampilkan 20 nilai unik teratas buat ngecek hasil
print(df['Brand'].unique()[:50])

['New Touch' 'Just Way' 'Nissin' 'Wei Lih' "Ching'S Secret"
 'Samyang Foods' 'Acecook' 'Ikeda Shoku' "Ripe'N'Dry" 'Koka' 'Tao Kae Noi'
 'Yamachan' 'Nongshim' 'Trdp' 'Binh Tay' 'Paldo' 'Jackpot Teriyaki'
 'Yum-Mie' 'Mykuali' 'Ottogi' 'Sichuan Guangyou' 'Lipton' 'Lele'
 'Fujiwara' 'Uni-President' 'Maruchan' 'Prima' 'Sokensha' 'Takamori'
 'Guava Story' 'Samurai Ramen' 'Ogasawara' 'Pringles' "Mom'S Dry Noodle"
 'Maggi' 'Indomie' 'Happy Cook' 'The Ramen Rater Select' 'Ttl' 'E-Zee'
 'Kiki Noodle' 'Tokyo Noodle' 'Gge' 'Myojo' 'Sau Tao' 'Wang' 'Daifuku'
 'Master Kong' "World O' Noodle" 'Kang Shi Fu']

# **8. Data Cleansing-Standarisasi Kolom Variety**

In [ ]:
df['Variety'] = df['Variety'].apply(lambda x: re.sub(r'[^\w\s]', '', str(x)))

# Hapus spasi berlebih
df['Variety'] = df['Variety'].str.strip()

# Ubah huruf jadi Title Case biar rapi
df['Variety'] = df['Variety'].str.title()

# Cek lagi sesudah cleansing
print("\nSesudah Cleansing Variety:")
print(df['Variety'].head(30))

Sesudah Cleansing Variety:
0                               Ts Restaurant Tantanmen
1     Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
2                         Cup Noodles Chicken Vegetable
3                         Gge Ramen Snack Tomato Flavor
4                                       Singapore Curry
5                                Kimchi Song Song Ramen
6                   Spice Deli Tantan Men With Cilantro
7                                 Nabeyaki Kitsune Udon
8                              Hokkaido Soy Sauce Ramen
9                  The Original Spicy Stirfried Noodles
10                          Creamy Tom Yum Kung Flavour
11                              Yokohama Tonkotsu Shoyu
12                     Mr Bibim Stirfried Kimchi Flavor
13                         Deka Buto Kimchi Pork Flavor
14    Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...
15                     Mushroom Flavour Instant Noodles
16                                 Mario Masala Noodles
17                                    Tokyo Shoyu Ramen
18                                           Mi Hai Cua
19                                      Premium Gomtang
20                            Cup Noodles Laksa Flavour
21                                           Beef Ramen
22    Creamy Soup With Crushed Noodles Hot  Sour Fis...
23                                   Sapporo Miso Ramen
24                           Hot Garlic Instant Noodles
25                            Song Song Kimchi Big Bowl
26           Instant Noodles Beef In Light Soup Flavour
27                   Hakata Ramen Noodle White Tonkotsu
28              Penang White Curry Rice Vermicelli Soup
29             Signature Tom Yum Flavor Instant Noodles
Name: Variety, dtype: object

# **9. Data Cleansing-Standarisasi Kolom Style**

In [ ]:
df['Style'] = df['Style'].astype(str).str.strip()              # bersihin spasi
df['Style'] = df['Style'].replace(['-', 'nan', 'None', ''], 'Unknown')
df['Style'] = df['Style'].str.title()                          # Kapital awal

# Cek hasil unik
print("Nilai unik kolom Style setelah cleansing:")
print(df['Style'].unique()[:50])

Nilai unik kolom Style setelah cleansing:
['Cup' 'Pack' 'Tray' 'Bowl' 'Box' 'Can' 'Bar' 'Unknown']

# **10. Data Cleansing-Standarisasi Kolom Country**

In [ ]:
df['Country'] = df['Country'].astype(str).str.strip()
df['Country'] = df['Country'].str.title()

# Mapping manual untuk penyatuan nama negara yang sama tapi beda penulisan
country_mapping = {
    "Usa": "United States",
    "U.S.A.": "United States",
    "Uk": "United Kingdom",
    "South Korea": "Korea South",
    "S. Korea": "Korea South",
    "Taiwan, China": "Taiwan"
}

df['Country'] = df['Country'].replace(country_mapping)

# Cek hasil unik
print("Nilai unik kolom Country setelah cleansing:")
print(df['Country'].unique()[:50])

Nilai unik kolom Country setelah cleansing:
['Japan' 'Taiwan' 'United States' 'India' 'Korea South' 'Singapore'
 'Thailand' 'Hong Kong' 'Vietnam' 'Ghana' 'Malaysia' 'Indonesia' 'China'
 'Nigeria' 'Germany' 'Hungary' 'Mexico' 'Fiji' 'Australia' 'Pakistan'
 'Bangladesh' 'Canada' 'Nepal' 'Brazil' 'United Kingdom' 'Myanmar'
 'Netherlands' 'Cambodia' 'Finland' 'Sarawak' 'Philippines' 'Sweden'
 'Colombia' 'Estonia' 'Holland' 'Poland' 'Nan']

# **11. Data Cleansing-Standarisasi Kolom Stars**

In [ ]:
import numpy as np

df['Stars'] = df['Stars'].astype(str).str.strip()

# Ganti koma dengan titik
df['Stars'] = df['Stars'].str.replace(',', '.', regex=False)

# Ganti 'Unrated' atau kosong dengan NaN
df['Stars'] = df['Stars'].replace(['Unrated', 'nan', 'None', ''], np.nan)

# Convert ke float
df['Stars'] = pd.to_numeric(df['Stars'], errors='coerce')

# Cek hasil
print("Contoh 20 nilai Stars setelah cleansing:")
print(df['Stars'].head(30))

Contoh 20 nilai Stars setelah cleansing:
0     3.75
1     1.00
2     2.25
3     2.75
4     3.75
5     4.75
6     4.00
7     3.75
8     0.25
9     2.50
10    5.00
11    5.00
12    4.25
13    4.50
14    5.00
15    3.50
16    3.75
17    5.00
18    4.00
19    4.00
20    4.25
21    5.00
22    5.00
23    4.75
24    4.25
25    4.25
26    3.50
27    4.75
28    5.00
29    4.00
Name: Stars, dtype: float64

# **12. Data Cleansing-Deduplikasi Data**

In [ ]:
duplicate_rows = df[df.duplicated(['Brand', 'Variety', 'Style', 'Country', 'Stars'], keep='first')]

print("Jumlah data yang duplikat:", len(duplicate_rows))

print("\nContoh data duplikat:")
print(duplicate_rows)

# Hapus duplikat (opsional, hanya kalau memang mau dibersihkan)
df = df.drop_duplicates(['Brand', 'Variety', 'Style', 'Country', 'Stars'], keep='first')

print("\nJumlah data setelah menghapus duplikat:", len(df))

Jumlah data yang duplikat: 7

Contoh data duplikat:
      Review #         Brand                               Variety    Style  \
821     1759.0        Nissin         Cup Noodles Moo Manao Flavour      Cup
899     1681.0  Wugudaochang  Sea Tangle  Sparerins Flavor Noodles     Bowl
1080    1500.0       Mykuali       Penang Red Tom Yum Goong Noodle     Pack
1511    1069.0        Nissin                 Raoh Rich Miso Flavor     Bowl
1672       NaN           Nan                                   Nan  Unknown
1964       NaN           Nan                                   Nan  Unknown
1965       NaN           Nan                                   Nan  Unknown

       Country  Stars  Top Ten  Review
821   Thailand   4.00      NaN  1759.0
899      China   3.75      NaN  1681.0
1080  Malaysia   5.00  2015 #1  1500.0
1511     Japan   5.00      NaN  1069.0
1672       Nan    NaN      NaN     NaN
1964       Nan    NaN      NaN     NaN
1965       Nan    NaN      NaN     NaN

Jumlah data setelah menghapus duplikat: 1963

# **13. Data Cleansing-Data Setelah Cleansing Duplikasi**

In [ ]:
df_cleaned = df.drop_duplicates(['Brand', 'Variety', 'Style', 'Country', 'Stars'], keep='first')

print("\nJumlah data setelah cleansing (hapus duplikasi):", len(df_cleaned))
print("\nContoh data setelah cleansing:")
print(df_cleaned.head(30))

Jumlah data setelah cleansing (hapus duplikasi): 1963

Contoh data setelah cleansing:
    Review #             Brand  \
0     2580.0         New Touch
1     2579.0          Just Way
2     2578.0            Nissin
3     2577.0           Wei Lih
4     2576.0    Ching'S Secret
5     2575.0     Samyang Foods
6     2574.0           Acecook
7     2573.0       Ikeda Shoku
8     2572.0        Ripe'N'Dry
9     2571.0              Koka
10    2570.0       Tao Kae Noi
11    2569.0          Yamachan
12    2568.0          Nongshim
13    2567.0            Nissin
14    2566.0            Nissin
15    2565.0              Koka
16    2564.0              Trdp
17    2563.0          Yamachan
18    2562.0          Binh Tay
19    2561.0             Paldo
20    2560.0            Nissin
21    2559.0  Jackpot Teriyaki
22    2558.0              Koka
23    2557.0          Yamachan
24    2556.0    Ching'S Secret
25    2555.0     Samyang Foods
26    2554.0           Yum-Mie
27    2553.0            Nissin
28    2552.0           Mykuali
29    2551.0              Koka

                                              Variety Style        Country  \
0                             Ts Restaurant Tantanmen   Cup          Japan
1   Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack         Taiwan
2                       Cup Noodles Chicken Vegetable   Cup  United States
3                       Gge Ramen Snack Tomato Flavor  Pack         Taiwan
4                                     Singapore Curry  Pack          India
5                              Kimchi Song Song Ramen  Pack    Korea South
6                 Spice Deli Tantan Men With Cilantro   Cup          Japan
7                               Nabeyaki Kitsune Udon  Tray          Japan
8                            Hokkaido Soy Sauce Ramen  Pack          Japan
9                The Original Spicy Stirfried Noodles  Pack      Singapore
10                        Creamy Tom Yum Kung Flavour  Pack       Thailand
11                            Yokohama Tonkotsu Shoyu  Pack  United States
12                   Mr Bibim Stirfried Kimchi Flavor  Pack    Korea South
13                       Deka Buto Kimchi Pork Flavor  Bowl          Japan
14  Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...  Pack      Hong Kong
15                   Mushroom Flavour Instant Noodles   Cup      Singapore
16                               Mario Masala Noodles  Pack          India
17                                  Tokyo Shoyu Ramen  Pack  United States
18                                         Mi Hai Cua  Pack        Vietnam
19                                    Premium Gomtang  Pack    Korea South
20                          Cup Noodles Laksa Flavour   Cup      Hong Kong
21                                         Beef Ramen  Pack  United States
22  Creamy Soup With Crushed Noodles Hot  Sour Fis...   Cup      Singapore
23                                 Sapporo Miso Ramen  Pack  United States
24                         Hot Garlic Instant Noodles  Pack          India
25                          Song Song Kimchi Big Bowl  Bowl    Korea South
26         Instant Noodles Beef In Light Soup Flavour  Pack          Ghana
27                 Hakata Ramen Noodle White Tonkotsu  Bowl          Japan
28            Penang White Curry Rice Vermicelli Soup  Bowl       Malaysia
29           Signature Tom Yum Flavor Instant Noodles  Pack      Singapore

    Stars Top Ten  Review
0    3.75     NaN  2580.0
1    1.00     NaN  2579.0
2    2.25     NaN  2578.0
3    2.75     NaN  2577.0
4    3.75     NaN  2576.0
5    4.75     NaN  2575.0
6    4.00     NaN  2574.0
7    3.75     NaN  2573.0
8    0.25     NaN  2572.0
9    2.50     NaN  2571.0
10   5.00     NaN  2570.0
11   5.00     NaN  2569.0
12   4.25     NaN  2568.0
13   4.50     NaN  2567.0
14   5.00     NaN  2566.0
15   3.50     NaN  2565.0
16   3.75     NaN  2564.0
17   5.00     NaN  2563.0
18   4.00     NaN  2562.0
19   4.00     NaN  2561.0
20   4.25     NaN  2560.0
21   5.00     NaN  2559.0
22   5.00     NaN  2558.0
23   4.75     NaN  2557.0
24   4.25     NaN  2556.0
25   4.25     NaN  2555.0
26   3.50     NaN  2554.0
27   4.75     NaN  2553.0
28   5.00     NaN  2552.0
29   4.00     NaN  2551.0

# **14. Data Enrichment**

In [ ]:
df_cleaned['Stars'] = pd.to_numeric(df_cleaned['Stars'], errors='coerce')

# Buat kolom Top Ten default None
df_cleaned['Top Ten'] = None

# Ambil index 10 besar berdasarkan Stars
top10_index = df_cleaned.sort_values(by='Stars', ascending=False).head(10).index

# Isi kolom Top Ten dengan peringkat
df_cleaned.loc[top10_index, 'Top Ten'] = ['#' + str(i+1) for i in range(10)]

# Tampilkan tabel rapi
print(df_cleaned[['Review #','Brand','Variety','Stars','Top Ten']].head(20).to_string(index=False))

 Review #          Brand                                                    Variety  Stars Top Ten
   2580.0      New Touch                                    Ts Restaurant Tantanmen   3.75    None
   2579.0       Just Way Noodles Spicy Hot Sesame Spicy Hot Sesame Guanmiao Noodles   1.00    None
   2578.0         Nissin                              Cup Noodles Chicken Vegetable   2.25    None
   2577.0        Wei Lih                              Gge Ramen Snack Tomato Flavor   2.75    None
   2576.0 Ching'S Secret                                            Singapore Curry   3.75    None
   2575.0  Samyang Foods                                     Kimchi Song Song Ramen   4.75    None
   2574.0        Acecook                        Spice Deli Tantan Men With Cilantro   4.00    None
   2573.0    Ikeda Shoku                                      Nabeyaki Kitsune Udon   3.75    None
   2572.0     Ripe'N'Dry                                   Hokkaido Soy Sauce Ramen   0.25    None
   2571.0           Koka                       The Original Spicy Stirfried Noodles   2.50    None
   2570.0    Tao Kae Noi                                Creamy Tom Yum Kung Flavour   5.00      #3
   2569.0       Yamachan                                    Yokohama Tonkotsu Shoyu   5.00      #4
   2568.0       Nongshim                           Mr Bibim Stirfried Kimchi Flavor   4.25    None
   2567.0         Nissin                               Deka Buto Kimchi Pork Flavor   4.50    None
   2566.0         Nissin Demae Ramen Bar Noodle Aka Tonkotsu Flavour Instant Noodle   5.00    None
   2565.0           Koka                           Mushroom Flavour Instant Noodles   3.50    None
   2564.0           Trdp                                       Mario Masala Noodles   3.75    None
   2563.0       Yamachan                                          Tokyo Shoyu Ramen   5.00    None
   2562.0       Binh Tay                                                 Mi Hai Cua   4.00    None
   2561.0          Paldo                                            Premium Gomtang   4.00    None

# **15. Mengunduh Data Bersih**

In [ ]:
folder_path = '/content/drive/MyDrive/DataMining/Dataset_bersih/'

df_cleaned.to_csv(folder_path + 'pre-processing_data_ramen.csv', index=False)
print(f"File berhasil disimpan di {folder_path}")

File berhasil disimpan di /content/drive/MyDrive/DataMining/Dataset_bersih/